body{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	overflow-x: hidden;

}

#post {
    width: 100%;
    padding-top: 15px;
    padding-right: 0px;
    padding-left:3%;
      z-index: 999999;
}

@media (max-width: 1200px) {
  #post{
   display: block;
   padding-left:15px;
   padding-right: 0px;
  }
}

#project{
  width: 100%;
    padding-top: 15px;
    padding-right: 0px;
    padding-left:25px;
}

#title{
  width: 85%;
  float: left;
  padding-right:0;
}

#date {
    width: 30%;
    margin-top: -11px;
   padding-right: 9%;
    float:right;
    z-index: 99999999;
}

@media (max-width: 1200px) {
  #date {
    right: 30px;
    width: 90%;
  }
}


#content {
    display: block;
    position: relative;
   margin-left: 0px;
     z-index: -1;


}

@media (max-width: 1200px) {
  #content {
   display: block;

  }
}

#thumbnail{
  text-align: right;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
  width: 96%;

}

#thumbnail img{
  width:20%;

}

@media (max-width: 600px) {
  #thumbnail img {
    width: 40%;
  }
}

p{
	font-size:1em;
    font-family: sans-serif;
    color:black;
    letter-spacing: .25px;

}

img{
	padding-right: 15px;

  /*   -webkit-filter: grayscale(100%) contrast(120%); /* Safari 6.0 - 9.0 
    filter: grayscale(100%) contrast (120%); */

}

@media (max-width: 1200px) {
 	img {
   padding-bottom: 3%;
   padding-right: 15px;

  }
}

@media (max-width: 600px) {
 	img {
  	width: 93%;
  }
}

h1{
	font-size:  1.8em;
	margin-top:10px;
	margin-bottom: 30px;
	letter-spacing: .25px;
	font-family: sans-serif;
	font-weight: normal;
	color:black;
}

h2{
  font-size: 3em;
  font-family: sans-serif;
  font-weight: normal;
  display: inline;
}

a:link{

}

a:hover{
    color:black;
text-decoration: underline;
}


a:active{
    color:black;
  text-decoration: none;
}

a:visited{
    color:black;
  text-decoration: none;
}